@charset "UTF-8";
/*Acá tengo que importar cada archivo scss para que funcione*/
/* Reseteo de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62, 5%;
  font-family: 'Carter One', cursive; }

.nav {
  background-color: transparent;
  padding-left: 0em;
  padding-right: 0em;
  margin: 0em; }

/*Divs titulo, pestañas y png de usuario*/
.titulo {
  z-index: 2;
  position: absolute;
  display: inline-block;
  margin: 0em;
  padding: 0em;
  padding-top: 1.5em; }

.lista {
  z-index: 2;
  position: absolute;
  top: 3rem;
  right: 9rem;
  cursor: pointer; }

.usuario {
  z-index: 2;
  position: absolute;
  top: 3rem;
  right: 5rem;
  cursor: pointer; }

/*Titulo*/
.imagenDino {
  position: absolute;
  margin-top: 0.6em;
  padding: 0;
  max-width: auto;
  height: 3.3em; }

.primero {
  display: inline;
  text-align: left;
  font-family: 'Carter One', cursive;
  color: #ffd60a;
  font-size: 3rem;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  margin-top: 1em;
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 1.5em; }

.segundo {
  display: inline;
  text-align: left;
  font-family: 'Carter One', cursive;
  color: #ffd60a;
  font-size: 3rem;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  margin-top: 1em;
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 0.14em; }

.tercero {
  display: inline;
  text-align: left;
  font-family: 'Carter One', cursive;
  color: #ffd60a;
  font-size: 3rem;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  margin-top: 1em;
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 1.25em; }

/*Pestañas*/
.menu {
  /*nav ul*/
  list-style: none;
  margin: 0em;
  padding: 0em;
  display: flex;
  flex-direction: row;
  justify-content: right; }

.menuItem {
  /*nav ul li*/
  font-family: 'Carter One', cursive;
  font-size: 1.25rem;
  padding: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 1.5em;
  margin-right: 1.5em; }

.menuLink {
  /*nav ul li a*/
  color: #ffd60a;
  text-decoration: none; }

.arrow {
  max-width: auto;
  height: 0.5em; }

.lock {
  max-width: auto;
  height: 0.75em; }

/*--Imagen de usuario--*/
.imagenUsuario {
  max-width: auto;
  height: 2em; }

/******************************************CARRUSEL******************************************/
#carrusel {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
  overflow: hidden; }

#carrusel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#000033, transparent, transparent, #000033);
  background-size: cover;
  z-index: -1; }

#carrusel > ul.imagenes {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1; }

#carrusel > ul,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

#carrusel > ul.imagenes li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  z-index: -1; }

#carrusel > ul.imagenes li img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; }

#carrusel > ul.imagenes li:first-child {
  opacity: 1; }

#carrusel > ul.imagenes li:target {
  opacity: 1; }

#carrusel > .indicadores {
  list-style: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 90%;
  left: 42%;
  z-index: 2; }

#carrusel > .indicadores img {
  z-index: 2;
  max-width: auto;
  height: 0.8em;
  margin-left: 0.5em;
  margin-right: 0.5em; }

#carrusel > .indicadores li:hover img {
  transform: scale(1.3); }

/******************************************PRODUCTOS******************************************/
.seccionProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto; }

.productos {
  height: 40em;
  width: 20em;
  border: .1em solid #ffd60a; }

.imagenPortada {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(#000033, transparent, transparent, #000033), url(../imagenes/veamos2.jpg); }

.caja {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  box-sizing: border-box;
  width: 24%;
  height: 35%;
  z-index: 0; }

.colorCaja {
  background-color: #ffffff10;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 0; }

.arrowblue {
  position: relative;
  top: 4.6em;
  left: 7em;
  max-width: auto;
  height: 1.5em;
  cursor: pointer; }

.animacion1 {
  font-family: 'Carter One', cursive;
  color: #001D3D;
  font-size: 1.5rem;
  position: absolute;
  left: 0em;
  top: 12.5em;
  transition: transform 0.5s ease-in-out; }

.animacion1.translate {
  transform: translateX(25em); }

.animacion2 {
  font-family: 'Carter One', cursive;
  color: #001D3D;
  font-size: 1.5rem;
  position: absolute;
  right: 0em;
  top: 14.5em;
  transition: transform 0.5s ease-out; }

.animacion2.translate {
  transform: translateX(-25em); }

.animacion3 {
  font-family: 'Carter One', cursive;
  color: #001D3D;
  font-size: 1.5rem;
  position: absolute;
  left: 0em;
  top: 16.5em;
  transition: transform 0.5s ease-out; }

.animacion3.translate {
  transform: translateX(24em); }

.animacion4 {
  font-family: 'Carter One', cursive;
  color: #001D3D;
  font-size: 1.5rem;
  position: absolute;
  right: 0em;
  top: 18.5em;
  transition: transform 0.5s ease-out; }

.animacion4.translate {
  transform: translateX(-25.5em); }
